body, html {
     height: 100%;
     margin: 0;
     padding: 0;
     font-weight: lighter;
     font-family: 'Optima';
      }

  h1{
    color: #fff;
  	margin-top: 0;
  	margin-left: 10%;
    padding-top: 10%;
  	letter-spacing: 1px;
  	line-height: 25px;
  	font-size: 25px;
    font-weight: lighter;
    font-family: 'Optima';

  }

  h2, button{
  	color: #fff;
  	margin-top: 0;
  	margin-left: 10%;
    padding-top: 5%;
  	letter-spacing: 1px;
  	line-height: 25px;
  	font-size: 25px;
    font-weight: lighter;
    font-family: 'Optima';
  }

  a{
  	color: #fff;
  	text-decoration: none;
  }

  .bg {
      background-image: url("resources/bg_1.jpg");
      height: 100%;
      /* Center and scale the image nicely */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -10;
      }


   /*buttons*/
  *,
  *:before,
  *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }


  .button {
      display: inline-block;
      position: relative;
      margin: 0;
      padding: 20px;
      border: none;
      overflow: hidden;
      text-decoration: none;
      font-size: 25px;
      outline: none;
      color: #FFF;
      background: transparent;

  }

  .button span {
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
  }

  .button:before,
  .button:after {
      content: '';
      position: absolute;
      top: 0.67em;
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: .4s,opacity .6s;
      -moz-transition: .4s,opacity .6s;
      -o-transition: .4s,opacity .6s;
      transition: .4s,opacity .6s;
  }

  /* :before */

  .button:before {
      content: attr(data-hover);
      -webkit-transform: translate(-150%,0);
      -moz-transform: translate(-150%,0);
      -ms-transform: translate(-150%,0);
      -o-transform: translate(-150%,0);
      transform: translate(-150%,0);
  }

  /* :after */

  .button:after {
      content: attr(data-active);
      -webkit-transform: translate(150%,0);
      -moz-transform: translate(150%,0);
      -ms-transform: translate(150%,0);
      -o-transform: translate(150%,0);
      transform: translate(150%,0);
  }

  /* Span on :hover and :active */

  .button:hover span,
  .button:active span {
      opacity: 0;
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -ms-transform: scale(0.3);
      -o-transform: scale(0.3);
      transform: scale(0.3);
  }

  /*
      We show :before pseudo-element on :hover
      and :after pseudo-element on :active
  */

  .button:hover:before,
  .button:active:after {
      opacity: 1;
      -webkit-transform: translate(0,0);
      -moz-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
      -webkit-transition-delay: .4s;
      -moz-transition-delay: .4s;
      -o-transition-delay: .4s;
      transition-delay: .4s;
  }

  /*
    We hide :before pseudo-element on :active
  */

  .button:active:before {
      -webkit-transform: translate(-150%,0);
      -moz-transform: translate(-150%,0);
      -ms-transform: translate(-150%,0);
      -o-transform: translate(-150%,0);
      transform: translate(-150%,0);
      -webkit-transition-delay: 0s;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s;
  }
